@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Notehazuya筆記長也</h1>
    <h2><a href="https://www.notes-hz.com/">Azure + NetCore 6.0 練習</a>.</h2>
</div>

